gniero's first full review findings

The list below contains improvement suggestions and minor details to be fixed.  

Terminology 
- [ ] Review RP vs Client usage
- [ ] Review AS vs OP usage
- [ ] Check AS, OP and RP usage and definition in parenthesis through the document
- [x] Fix mentions to Public Clients to section 2.1 of RFC6749 - make explanations here shorter
- [x] Consider DPoP, DPoP Token, etc in 1.2
- [x] Review use of Authentication Process vs Authentication Request

Section 4
- [ ] it doesn’t talk much about being a redirection flow, it goes directly to the point that a response type is being registered. Maybe we can put in this introductory sentence something about it being a redirection based flow 

Section 4.2
- [ ] seems that the first sentence is explaining what is should be introduced in section 4

Section 4.3
- [x] In order to reduce sentences starting with “IF”,try something like “Any additional Authorization Request parameter regarding to OAuth 2.0 extensions MUST be validated according to their definitions”

Section 4.4
- [x] First two sentences seem to say almost the same. In the first sentence, “…to collect any required Identity Information from the End-User and obtain explicit authorization” could be replaced with a more generic approach such as “to provide guidance through the Authentication steps” and second sentence could start with “Through these interfaces,…”

Section 4.5
- [x] On the parameter deferred_code, fix the “identifier to identify”

Section 4.6
- [ ] explanation regarding to the distinction of the flow, that is below the validation steps, could be introduced as the step 2. That way it connects with the error response explanation and could shorten this section

Section 5
- [ ] first sentence, put the deferred_code in the correct formatting

Section 5.1
- [ ] first sentence, put the deferred_code in the correct formatting

Section 5.2
- [x] fix the “OP Provider” in first sentence

Section 5.3
- [x] first sentence is confusing: “After receiving and validating a valid and authorized Deferred Code Exchange Request from the Client”
- [x] First response parameter, “a unique identifier to identify” could be “a unique identifier to the authentication…”. Check elsewhere for other occurrences 
- [ ] #90

Section 8.3
- [x] first sentence, same as the first item in 5.3 

Section8.4
- [x] Sentence to introduce parameters, should be singular

Section 9
- [x] first sentence, “that got deferred before it completes”